name: Sovereign 16KB Forge
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build with Buildozer Action
        uses: ArtemSBulgakov/buildozer-action@v1
        with:
          buildozer_version: master
          python_version: 3.11
          # This action contains pre-cached 16KB-aligned linkers
      - name: Deposit Asset
        uses: actions/upload-artifact@v4
        with:
          name: Apexyx-Shell
          path: bin/*.apk
