name: Build AI Node
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libtinfo6 libncurses5  # Bypassing the libtinfo5 error
      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew assembleDebug
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: APEXYX_ORI_AI_Debug_APK
          path: app/build/outputs/apk/debug/*.apk
