name: Physical_16KB_Forge
on: [workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install setuptools Cython==0.29.33 buildozer
      - name: Accept Android Licenses
        run: yes | sdkmanager --licenses || true
      - name: Build with Buildozer
        run: |
          export LDFLAGS="-Wl,-z,common-page-size=16384 -Wl,-z,max-page-size=16384"
          buildozer android debug
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: REECH_Shell
          path: bin/*.apk
